
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
textarea,
button {
    width: 100%; /* 너비를 100%로 설정 */
    padding: 10px;
    margin: 10px 0; /* 위아래 여백 설정 */
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* 블록 요소로 설정 */
}
textarea {
    height: 200px; /* 텍스트 영역의 높이를 조정 */
}